/* Color pallet:


Light Grey: #F2F3F3 ; Site Background
Dark Grey : #2b363c ; 
Red : #b60707 ;
Darker red: #7b0404;


 */




body {
	font : 15px/1.5 Arial, Helvetica,sans-serif;
	padding :0;
	margin:0;
	background-color: #F2F3F3

}

/* Global stuff **/
.container{
	width:80%;
	margin-left:15px;
	overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}

/*Header**/
header{
	background:#2b363c;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#b60707 3px solid; 
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-style: thick;
	font-size:16px;
}

header li {
	display:inline;
	padding: 0 30px 0 30px;
	
}

header #gamename{
	float:left;

}

header #gamename h1{
	margin:0;

}
header nav{
	float:right;
	margin-top:15px;
}

header .highlight, header .current a{
	color:#b60707;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}


/* Body**/

#gamesettings{
	margin-top:100px;
	margin-bottom:100px;
}

/*Name selection **/
#nameselection{
	background:#2b363c;
	color:#ffffff;
	padding:5px;

}
#nameselection h1{
	text-align:center;
}

#nameselection input[type="text"]{
	height:25px;
	width:100px;
	padding:5px;
}

/*Color selection **/
#colorselection{
	text-align:center;
	color:#2b363c;
}


#col{
	text-align: center;
	padding:5px;
	font-size: 20px;
	border: none;
	background: #2b363c;
	color:#ffffff;
	box-shadow: 0 5px 10px #2b363c;
}

#col select{
	text-align: center;
	padding:5px;
	font-size: 20px;
	border: none;
	background: #2b363c;
	color:#ffffff;
	
		
}




/*Play button**/
#playbutton{
	text-align:center;
	margin-top:30px;

}

.playbutton{
	height:80px;
	width:160px;
	background:#b60707;
	border:none;
	color:#ffffff;
	padding-left: 20px;
	padding-right: 20px;
	font-size:30px;-
	box-shadow: 0 5px 10px #2b363c;
}

.playbutton:hover{
	background:#7b0404;
	font-size:bold;
}

